div(ng-controller='FlightLogController', ng-cloak='')
  table.table.table-hover.table-bordered.table-condensed
    thead
      tr.center
        th.is-hidden
        th.is-hidden
        th.is-hidden
        th: |Airplane
        th.is-hidden
        th.is-hidden
        th.is-hidden
        th.is-hidden
        th.is-hidden
        th(colspan='3'): |Instrument
        th.is-hidden
        th.is-hidden
        th.is-hidden
      tr
        th: |Date
        th: |Aircraft
        th: |Route
        th: |ASEL
        th: |Dual
        th: |PIC
        th: |Day
        th: |Night
        th: |X/C
        th: |Act IFR
        th: |Sim IFR
        th: |Appr
        th: |Ldgs
        th: |Total
        th: |Remarks
    tbody
      tr(ng-repeat='entry in log')
        td: |{{entry.date | date:"M/d/yy"}}
        td(title='{{entry.aircraft.year}} {{entry.aircraft.make}} {{entry.aircraft.model}} ({{entry.aircraft.abbr}})')
          |{{entry.aircraft.tailNumber}}
        td: |{{entry.departurePoint.icao}} -&gt; 
          span(ng-repeat='airport in entry.route'): |{{airport.icao}}{{$index == entry.route.length - 1 ? '' : ', '}}
        td: |{{entry.breakdown.airplane.sel}}
        td: |{{entry.breakdown.dualReceived}}
        td: |{{entry.breakdown.pilotInCommand}}
        td: |{{entry.breakdown.day}}
        td: |{{entry.breakdown.night}}
        td: |{{entry.breakdown.crossCountry}}
        td: |{{entry.breakdown.actualInstrument}}
        td: |{{entry.breakdown.simulatedInstrument}}
        td(title='{{approachNames(entry)}}'): |{{entry.instrumentApproaches.length}}
        td: |{{entry.landings.day}}/{{entry.landings.night}}
        td: |{{entry.breakdown.totalDuration}}
        td: i {{entry.remarks}}
      tr.bold.disabled
        td.is-hidden
        td.is-hidden
        td.is-hidden
        td: |{{sum.breakdown.airplane.sel}}
        td: |{{sum.breakdown.dualReceived}}
        td: |{{sum.breakdown.pilotInCommand}}
        td: |{{sum.breakdown.day}}
        td: |{{sum.breakdown.night}}
        td: |{{sum.breakdown.crossCountry}}
        td: |{{sum.breakdown.actualInstrument}}
        td: |{{sum.breakdown.simulatedInstrument}}
        td: |{{sum.instrumentApproaches.length}}
        td: |{{sum.landings.day}}/{{sum.landings.night}}
        td: |{{sum.breakdown.totalDuration}}
        td.is-hidden

  button.btn.btn-success(ng-click='addLogEntry()'): |Add Flight

  div.form-horizontal
    div.form-group
      label.col-sm-2.control-label(for='flightDate'): |Date
      div.col-sm-2
        input.form-control#flightDate(type='date',
                                      placeholder='Date',
                                      ng-model='newEntry.date')

      label.col-sm-2.control-label(for='departurePoint'): |Departure Point
      div.col-sm-2
        input.form-control#departurePoint(type='text',
                                          maxlength='4',
                                          placeholder='Departure Point',
                                          ng-model='newEntry.departurePoint')

      label.col-sm-2.control-label(for='route'): |Route
      div.col-sm-2
        bs-airport-select.col-sm-12#route(bs-model='newEntry.route')

    div.form-group
      label.col-sm-2.control-label(for='asel'): |ASEL
      div.col-sm-1
        input.form-control#asel(type='number',
                                step='0.1'
                                placeholder='0.0',
                                ng-model='newEntry.breakdown.airplane.sel')

      label.col-sm-2.control-label(for='dual'): |Dual Received
      div.col-sm-1
        input.form-control#dual(type='number',
                                step='0.1'
                                placeholder='0.0',
                                ng-model='newEntry.breakdown.dualReceived')

      label.col-sm-2.control-label(for='pic'): |Pilot-in-Command
      div.col-sm-1
        input.form-control#pic(type='number',
                               step='0.1'
                               placeholder='0.0',
                               ng-model='newEntry.breakdown.pilotInCommand')

      label.col-sm-1.control-label(for='aircraft'): |Aircraft
      div.col-sm-2
        select.form-control#aircraft(ng-options='a.tailNumber for a in aircraft', ng-model='selectedAircraft')

    div.form-group
      label.col-sm-2.control-label(for='day'): |Day
      div.col-sm-1
        input.form-control#day(type='number',
                               step='0.1'
                               placeholder='0.0',
                               ng-model='newEntry.breakdown.day')

      label.col-sm-2.control-label(for='night'): |Night
      div.col-sm-1
        input.form-control#night(type='number',
                                 step='0.1'
                                 placeholder='0.0',
                                 ng-model='newEntry.breakdown.night')

      label.col-sm-2.control-label(for='crossCountry'): |Cross-Country
      div.col-sm-1
        input.form-control#crossCountry(type='number',
                                 step='0.1'
                                 placeholder='0.0',
                                 ng-model='newEntry.breakdown.crossCountry')

      label.col-sm-2.control-label(for='landings'): |Landings (Day/Night)
      div.col-sm-1
        input.form-control#landings(type='text',
                                 placeholder='0/0',
                                 ng-model='newEntry.landings.dayNight')

    div.form-group
      label.col-sm-2.control-label(for='actual'): |Actual IFR
      div.col-sm-1
        input.form-control#actual(type='number',
                               step='0.1'
                               placeholder='0.0',
                               ng-model='newEntry.breakdown.actualInstrument')

      label.col-sm-2.control-label(for='simulated'): |Simulated IFR
      div.col-sm-1
        input.form-control#simulated(type='number',
                                 step='0.1'
                                 placeholder='0.0',
                                 ng-model='newEntry.breakdown.simulatedInstrument')

      label.col-sm-2.control-label(for='totalDuration'): |Total Duration
      div.col-sm-1
        input.form-control#totalDuration(type='number',
                                         step='0.1'
                                         placeholder='0.0',
                                         ng-model='newEntry.breakdown.totalDuration')

    div.form-group
      label.col-sm-2.control-label(for='remarks'): |Remarks
      div.col-sm-7
        input.form-control#remarks(type='text', ng-model='newEntry.remarks')