doctype html
html
  head
    title= title
    
    include ./styles.jade

  body(ng-app='ExampleApp', ng-cloak='')
    include ./nav.jade

    div.container
      block content

    include ./scripts.jade