nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand(href='#'): | #{title}
        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active: a(href='#'): |Home
                li: a(href='#about'): |About
                li: a(href='#contact'): |Contact