script(src='lib/jquery/dist/jquery.min.js')
script(src='lib/bootstrap/dist/js/bootstrap.min.js')

script(src='lib/angular/angular.min.js')
script(src='lib/angular-route/angular-route.min.js')
script(src='lib/angular-sanitize/angular-sanitize.min.js')

script(src='lib/underscore/underscore.js')
script(src='lib/select2/dist/js/select2.full.js')
script(src='dist/bs-app-0.0.1.min.js')