body {
	padding-top: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

td.is-hidden, th.is-hidden {
    color: #ccc;
    background-color: #f0f0f0!important;
}

.bold {
	font-weight: 700;
}

.center * {
	text-align: center;
}